.gallery-2 {
  padding-top: 40px;
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
}

.gallery-item-2 {
  text-align: center;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.gallery-item-2:hover {
  transition: scale(1.1);
  cursor: pointer;
  margin: 0 auto;
  overflow: hidden; /* Ensuring no scroll bars appear */
}

/* Estilo padrão das imagens */
.gallery-item-2 img {
  transition: transform 0.2s; /* Efeito suave para a transformação */
  cursor: pointer; /* Mudar o cursor para indicar que a imagem é clicável */
}

.gallery-item-2:hover img {
  transform-origin: top;
  transform: scale(1);
 
  cursor: default; /* Estilo de cursor padrão */
}

.baixarF {
  color: var(--cor-p1);
}

body {
  background-color: blue;
}


