<body id="mergulho">
  <header class="header-bg">
    <div class="header container">
      <a href="./">
        <img src="./img/logo-h-f/l-branco.webp" width="125" height="32" alt="Pajuscuba">
      </a>
      <button class="menu-toggle" aria-label="Toggle menu">
        <span class="burger-icon"></span>
      </button>
      <nav aria-label="primaria">
        <ul class="header-menu font-1-m cor-0">
          <li><a href="./">Início</a></li>
          <li><a href="./quem-somos.html">Quem somos</a></li>
          <li><a href="./mergulhos.html">Mergulhos</a></li>
          <li><a href="./passeios.html">Passeios</a></li>
          <li><a href="./galeria.html">Galeria</a></li>
          <li><a href="./contato.html">Contato</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <main>
    <div class="titulo-bg">
      <div class="titulo container">
        <h1 class="font-1-xxl cor-0 fadeInDown" data-anime="200" style="padding: 10px;">Baixe suas fotos ou mergulhos aqui<span class="cor-p1">.</span></h1>
      </div>
    </div>
    <div class="gallery-2 container" id="galeria-1">
        <div class="gallery-item-2 fadeInLeft" data-anime="300">
            <a href="galeria.html">
                <img src="./img/download/icone-download.webp" alt="Gallery image">
                <h2 class="baixarF">Janeiro</h2>
            </a>
        </div>
        <div class="gallery-item-2 fadeInLeft" data-anime="300">
            <a href="galeria.html">
                <img src="./img/download/icone-download.webp" alt="Gallery image">
                <h2 class="baixarF">Fevereiro</h2>
            </a>
        </div>
        <div class="gallery-item-2 fadeInLeft" data-anime="350">
            <a href="galeria.html">
                <img src="./img/download/icone-download.webp" alt="Gallery image">
                <h2 class="baixarF">Março</h2>
            </a>
        </div>
        <div class="gallery-item-2 fadeInLeft" data-anime="400">
            <a href="galeria.html">
                <img src="./img/download/icone-download.webp" alt="Gallery image">
                <h2 class="baixarF">Abril</h2>
            </a>
        </div>
        <div class="gallery-item-2 fadeInLeft" data-anime="450">
            <a href="galeria.html">
                <img src="./img/download/icone-download.webp" alt="Gallery image">
                <h2 class="baixarF">Maio</h2>
            </a>
        </div>
        <div class="gallery-item-2 fadeInLeft" data-anime="500">
            <a href="galeria.html">
                <img src="./img/download/icone-download.webp" alt="Gallery image">
                <h2 class="baixarF">Junho</h2>
            </a>
        </div>
        <!-- Próxima linha >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
        <div class="gallery-item-2 fadeInLeft" data-anime="550">
            <img src="./img/download/icone-download.webp" alt="Gallery image">
                <h2 class="baixarF">Julho</h2>
        </div>
        <div class="gallery-item-2 fadeInLeft" data-anime="600">
            <a href="galeria.html">
                <img src="./img/download/icone-download.webp" alt="Gallery image">
                <h2 class="baixarF">Agosto</h2>
            </a>
        </div>
        <div class="gallery-item-2 fadeInLeft" data-anime="650">
            <a href="galeria.html">
                <img src="./img/download/icone-download.webp" alt="Gallery image">
                <h2 class="baixarF">Setembro</h2>
            </a>
        </div>
        <div class="gallery-item-2 fadeInLeft" data-anime="700">
            <a href="galeria.html">
                <img src="./img/download/icone-download.webp" alt="Gallery image">
                <h2 class="baixarF">Outubro</h2>
            </a>
        </div>
        <div class="gallery-item-2 fadeInLeft" data-anime="750">
            <a href="galeria.html">
                <img src="./img/download/icone-download.webp" alt="Gallery image">
                <h2 class="baixarF">Novembro</h2>
            </a>
        </div>
        <div class="gallery-item-2 fadeInLeft" data-anime="800">
            <a href="galeria.html">
                <img src="./img/download/icone-download.webp" alt="Gallery image">
                <h2 class="baixarF">Dezembro</h2>
            </a>
        </div>
      </div>  
    </div>
  </main>

  <article class="mergulhos-lista container fadeInRight" data-anime="1500" id="visible">  
    <h2 class="font-1-xxl fadeInLeft" data-anime="500">Mais Serviços<span class="cor-p1">.</span></h2>
      <ul>
        <li>
          <a href="./passeios.html">
            <img src="./img/mergulhos/suba-anexo4.webp" id="myimage" alt="Ensaio Fotográfico">
            <h3 class="font-1-xl">Ensaio Fotográfico</h3>
            <!-- <span class="font-2-m cor-8" id="valor-pagamento-2">R$ 2499</span> -->
          </a>
        </li>
        <li>
          <a href="./passeios.html">
            <img src="./img/mergulhos/passeio-anexo3.webp" alt="Passeios às Piscinas Naturais">
            <h3 class="font-1-xl">Passeios às Piscinas Naturais</h3>
            <!-- <span class="font-2-m cor-8" id="valor-pagamento-2">R$ 3999</span> -->
          </a>
        </li>
      </ul>
    </div>
  </article>

  <footer class="footer-bg">
    <div class="footer container">
      <a href="./">
        <img src="./img/logo-h-f/l-branco.webp" width="85" height="32" alt="Pajuscuba">
      </a>
      <div class="footer-contato">
        <h3 class="font-2-l-b cor-0">Contato</h3>
        <ul class="font-2-m cor-5">
          <li><a href="tel:+5582996744940">+55 82 99674-4940</a></li>
          <li><a href="mailto:atendimento@pajuscuba.com">atendimento@pajuscuba.com</a></li>
          <li class="color">Praia de Pajuçara, s/n - Maceió</li>
          <li class="color">Alagoas - AL</li>
          <li class="color">CNPJ: 14.989.162/0001-09</li>
        </ul>
        <div class="footer-redes">
          <a href="https://www.instagram.com/pajuscuba/" target="_blank">
            <img src="./img/redes/instagram.svg" width="32" height="32" alt="Instagram">
          </a>
          <a href="https://www.facebook.com/profile.php?id=100091462814928" target="_blank">
            <img src="./img/redes/facebook.svg" width="32" height="32" alt="Facebook">
          </a>
          <a href="./">
            <img src="./img/redes/youtube.svg" width="32" height="32" alt="Youtube">
          </a>
        </div>
      </div>
      <div class="footer-informacoes">
        <h3 class="font-2-l-b cor-0">Informações</h3>
        <nav>
          <ul class="font-1-m cor-5">
            <li><a href="./perguntas.html">Perguntas frequentes (FAQ)</a></li>
            <li><a  href="./contato.html">Fale conosco (SAC)</a></li>
            <li><a  href="./termos.html">Termos e condições</a></li>
          </ul>
        </nav>
      </div>
      <p class="footer-copy font-2-m cor-0">Paju Scuba © 2011 - 2024 - Todos os direitos reservados.</p>
    </div>
  </footer>

  <a href="https://contate.me/pajuscuba-atendimento-whatsapp" target="_blank" class="whatsapp-button fadeInRight" data-anime="10000"><img src="img/whatsapp/whatsapp.png" alt="Ícone WhatsApp"></a>

  <script src="./js/plugins/simple-anime.js"></script>
  <script src="./js/script.js"></script>
  <script src="./js/whatsapp.js"></script>
  <script src="./js/nav-bar.js"></script>
  <script src="./js/colorfull.js"></script>
  
</body>
</html>