{% load static %}
<footer class="footer-bg">
  <div class="footer container">
    <a href="./">
      <img src="{% static 'global/img/logo-h-f/l-branco.webp' %}" width="85" height="32" alt="Pajuscuba">
    </a>
    <div class="footer-contato">
      <h3 class="font-2-l-b cor-0">Contato</h3>
      <ul class="font-2-m cor-5">
        <li><a href="mailto:atendimento@pajuscuba.com">atendimento@pajuscuba.com</a></li>
        <li><a href="tel:+5582996744940">+55 82 99674-4940</a></li>
        <li class="color">CNPJ: 14.989.162/0001-09</li>
        <li class="color">Praia de Pajuçara, s/n - Maceió - AL</li>
      </ul>
      
    </div>
    <div class="footer-informacoes">
      <h3 class="font-2-l-b cor-0">Informações</h3>
      <nav>
        <ul class="font-1-m cor-5" id="ul">
          <li><a href="./perguntas.html">Perguntas frequentes (FAQ)</a></li>
          <li><a href="./contato.html">Fale Conosco (SAC)</a></li>
          <li><a href="./termos.html">Termos e condições</a></li>
        </ul>
      </nav>
    </div>
    <div class="footer-redes">
      <a href="https://www.instagram.com/pajuscuba/" target="_blank">
        <img src="{% static 'global/img/redes/instagram.svg' %}" width="32" height="32" alt="Instagram">
      </a>
      <a href="https://www.facebook.com/profile.php?id=100091462814928" target="_blank">
        <img src="{% static 'global/img/redes/facebook.svg' %}" width="32" height="32" alt="Facebook">
      </a>
      <a href="./">
        <img src="{% static 'global/img/redes/youtube.svg' %}" width="32" height="32" alt="Youtube">
      </a>
    </div>
    <p class="footer-copy font-2-m cor-0">Paju Scuba - Todos os direitos reservados.</p>
  </div>
</footer>