{% load static %}

{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Paju Scuba | Baixe aqui suas fotos</title>
  <meta name="description" content="Mergulhos">
  <link rel="shortcut icon" href="img/favicon/favicon-pajuscuba.ico" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'global/css/style.css' %}">
</head>
<body>

{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}Nome do AltamirD</title>
  <link rel="stylesheet" href="{% static 'home/css/blue.css' %}">
  <link rel="stylesheet" href="{% static 'global/css/red.css' %}">
</head>
</head>
<body> {% endcomment %}