<article class="post">
  <header>
    <h2 class="post__title">Lorem ipsum dolor sit amet.</h2>
  </header>
  <div class="post__body">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius ex quae eveniet illum itaque laboriosam vitae placeat quo nisi cupiditate vel consequuntur officia praesentium dignissimos rem assumenda repudiandae labore, fugit sunt commodi facere quas autem sint eaque. Dicta, non exercitationem officia libero, modi ducimus, nemo eos sapiente pariatur soluta minima!
  </div>
</article>