{% load static %}
<article class="mergulhos-lista-historico container fadeInRight" data-anime="1500" id="visible">  
  <div class="outer-container">
    <div class="image-container">
      <img class="center-image" src="{% static 'global/img/logo-h-f/l-azul.webp' %}" alt="Imagem">
    </div>
    <div class="text-container">
      <h1>Portal</h1>
      <input class="botao-input" type="text" placeholder="USUÁRIO">
      <input class="botao-input" type="text" placeholder="SENHA">
      <input class="botao-input" type="text" placeholder="ACESSAR">
    </div>
  </div>
</article>